<div class="popup" *ngIf="opened">
  <button class="close-popup-button" (click)="close()"></button>

  <section class="image-section">
    <div class="image-wrapper" [ngStyle]="{ 'background-image': data.src }"></div>
    <div class="activity">
      <button class="like" (click)="inc('likes')">like</button>
      <button class="dislike" (click)="inc('dislikes')">dislike</button>
    </div>
  </section>

  <section class="comments-section">
    <h3>Comments: <span>{{data.comments.length}}</span></h3>
    <div class="comments-container">
      <div class="comment-item" *ngFor="let comment of data.comments">
        <p class="author">{{comment.author}}</p>
        <p class="date">{{comment.date | date:"MM/dd/yy"}}</p>
        <p class="comment">{{comment.message}}</p>
      </div>
    </div>


    <form class="add-comment-form" (ngSubmit)="addComment(commentsForm); commentsForm.resetForm()" #commentsForm="ngForm">
      <md-input-container class="full-size-container">
        <input mdInput name="author" ngModel placeholder="Nickname">
      </md-input-container>
      <div class="row">
        <md-input-container class="message-container">
          <textarea mdInput name="message" ngModel placeholder="Your comment..."></textarea>
        </md-input-container>
        <button md-button class="send-button" color="accent">
          <md-icon class="material-icons md-dark">email</md-icon>
        </button>
      </div>
    </form>

  </section>
</div>
