<div class="popup" *ngIf="opened">
  <button class="close-popup-button" (click)="close()"></button>

  <section class="image-section">
    <div class="image-wrapper"></div>
    <div class="activity">
      <button class="like">like</button>
      <button class="dislike">dislike</button>
    </div>
  </section>

  <section class="comments-section">
    <h3>Comments: <span>5</span></h3>
    <div class="comments-container">
      <div class="comment-item">
        <p class="author">By Anon93</p>
        <p class="date">Today 10:21 PM</p>
        <p class="comment">Nullam viverra leo eget urna maximus, et pellentesque enim volutpat.</p>
      </div>
    </div>
    <form action="" class="add-comment-form">
      <input type="text">
      <textarea name="" id="" cols="30" rows="2"></textarea>
      <button>add</button>
    </form>
  </section>
</div>
