h3 {
  margin: 0;
}

.esc-button {
  line-height: 13px;
}

.esc-button span {
  display: block;
  font-size: 10px;
}

.comments-container {
  height: 400px;
  overflow: auto;
}

.card-item-avatar {
  /*background: url("../../app/shared/img/avat-2.jpg") center/contain no-repeat;*/
}

md-card-header {
  position: relative;
}

.date {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.54);
}

.message {
  padding: 0 130px 0 50px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.center {
  margin: 130px auto;
  width: 250px;
}

.center h1 {
  color: rgba(0, 0, 0, 0.54);
  font: 30px Arial;
  text-align: center;
}

.center i {
  margin: 0 auto;
  font-size: 100px;
  width: 100%;
  text-align: center;
}
