.wrapper {
  position: relative;
  width: 1024px;
  height: 768px;
  background: #eceff4;
  margin: auto;
}

.container {
  width: 974px;
  height: 680px;
  overflow-x: scroll;
}

h1 {
  color: #8499a7;
  font: bold 24px OpenSans, sans-serif;
  text-transform: uppercase;
}

placeholder {
  float: left;
}
