.wrapper {
  position: relative;
  width: 1024px;
  height: 768px;
  background: #f0f3f6;
  margin: auto;
}

.conntainer {
  width: 980px;
  height: 680px;
}

h1 {
  color: #8499a7;
  font: bold 24px OpenSans, sans-serif;
  text-transform: uppercase;
}

placeholder {
  float: left;
}
