:host {
  display: block;
  position: absolute;
  bottom: -210px;
  width: 236px;
  right: 0;
  height: 200px;
  padding: 8px;
  box-sizing: border-box;
}

.placeholder input {
  display: none;
}

.placeholder {
  height: 100%;
  align-items: center;
  background-color: #efefef;
  background-color: rgba(0, 0, 0, 0.02);
  cursor: pointer;
  display: flex;
  justify-content: center;
  outline: 3px dashed #ccc;
  outline-offset: 5px;
}

.placeholder i {
  pointer-events: none;
}

.placeholder,
.placeholder i {
  transition: all 100ms ease-in;
}

.placeholder i {
  color: #eee;
  color: rgba(0, 0, 0, 0.2);
  font-size: 5em;
}
