:host {
  overflow: hidden;
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 2px 10px 0 rgba(194, 205, 216, 1);
}

:host:nth-child(4n+1) {
  width: 482px;
  height: 410px;
}

:host:nth-child(4n+2) {
  width: 236px;
  height: 410px;
}

:host:nth-child(4n+3) {
  width: 482px;
  height: 200px;
}

:host:nth-child(4n+4) {
  width: 236px;
  height: 200px;
}

.gallery-item {
  width: 100%;
  height: 100%;
}

.gallery-item-image {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.social {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #f4f4f3;
  transition: 0.3s ease-out;
  transform: translateY(60px);
}

:host:hover .social {
  transition: 0.3s ease-out;
  transform: translateY(0);
}

.social div {
  position: relative;
}

.social .counter {
  width: 17px;
  height: 17px;
  color: #0d7f8a;
  font: 11px OpenSans;
  line-height: 13px;
  text-align: center;
  border: 2px solid rgba(0, 0, 0, 0.54);
  border-radius: 50%;
  background: rgba(255,255,255,1);
  box-sizing: border-box;
}

.social > div { float: right; }
.social > div:first-child { margin: 15px 15px 0 0; }
.social > div:nth-child(2) { margin: 15px 37px 0 0; }

.material-icons {
  position: absolute;
  top: 2px;
  left: -20px;
  font-size: 30px;
}
